body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
 ul{
    margin: 0;
    list-style: none;
    padding: 1% 5% 1% 6%;
    
     ;
    
}


.header{
  color:hsl(201deg 58% 47%) ;
  font-size: 100%;
  display: grid;
  grid-template-columns:1.5fr 1fr 1fr 1fr 1fr 1fr 1.3fr;
  background-color: antiquewhite;
  align-items: center;
  box-shadow: 2px 1px 2px #ccc;
}
.headerFirstPart{
  padding: 1px 1px 1px 15px ;
}
.headerSecondPart{

grid-column: 7;
display: grid;
grid-template-columns: .5fr .8fr;

}
.headerSecondPartOne{
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: center;
}


.entityActive{
  color:  hsl(120deg 100% 25%);
  font-size: 11px;
}
li{
  display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    border-bottom: 1px solid #ccc;
    color:hsl(201deg 58% 47%);
    padding: 1px 0px 2px 0px;
} 
.filter{
  padding: 0px 8px 0px 0px;
  height: 28px;
  width: 23px;
}
.leftWrapper > ul > li > span.entityActive
{
  padding:0px 10px 0px 0px;
}
.leftWrapper > ul > li > img{
  height: 10px;
  width: 12px;
  padding: 4px 5px 1px 10px
}
.container{
height: 100vh;
display: grid;
grid-template-rows: .1fr 1.2fr .08fr;
}
.header{
    background-color: antiquewhite;
}
.content{
     background-color: silver; 

}

.footer{
    background-color: black;
}
.content{
    display: grid;
    grid-template-columns: .4fr 1.1fr;
}
.logoImg{
    background-color: hsl(0deg 0% 88%);
  padding: 6px 3px 6px 5px;
}

  img{
    height: 15px;
    width: 20px;
    

  } 

 
  .serachBox{
    display: grid;
    grid-template-columns: 0fr 1fr;
    align-items: center;
  }
  input[type=search]{
  
    width: 100%;

    background-color: hsl(0deg 0% 88%);
    outline: none;
    border: none;
    height: 27px;
    font-size: 14px;

  }
.search{
    
    display: flex;
    
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 2% 4% 1% 6%;
    border-bottom: 1.5px solid #ccc;
    box-shadow: 2px 1px 2px #ccc;
 }
.rightWrapper{
background-color: brown;}
.rightWrapperHeader{
  display: flex;

}